@model finalmetal.Models.gmail
@{
    ViewBag.Title = "contact";
}
<br />
<br />

@using (Html.BeginForm("contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<section class="page-section bg-light" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Us</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div style="color:black; font-size:larger; ">
                <label>Mobile :01285638994</label>
                <div>
                    <label>Contact Us With WhatsApp</label>
                    <br />
                    <a id="whats" class="btn btn-success btn-social" href="https://api.whatsapp.com/send?phone=+201285638994" method="get" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
            <label>Our Email is :ali.harhera93@gmail.com</label>
        </div>
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div>
                        <span style="color:red;">@ViewBag.message</span>
                    </div>
                    <div class="form-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            @Html.LabelFor(ww => ww.To)
                            @Html.TextBoxFor(ww => ww.To, new { PlaceHolder = "Enter Our Email", @class = "form-control" })
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            @Html.LabelFor(ww => ww.From)
                            @Html.TextBoxFor(ww => ww.From, new { PlaceHolder = "Enter your Email", @class = "form-control" })
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            @Html.LabelFor(ww => ww.Subject)
                            <label>0020</label>
                            @Html.TextBoxFor(ww => ww.Subject, new { PlaceHolder = "+20 Enter your Phone", @class = "form-control" })
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br />
                    <div id="success"></div>
                    <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button></div>
                </form>

            </div>
        </div>
    </div>
</section>
}

